@using Annium.Blazor.Charts.Internal.Domain.Interfaces.Contexts

@namespace Annium.Blazor.Charts.Components

@inject Style _style;

<div class="@Class">
    <CascadingValue Value="PaneContext" TValue="IManagedPaneContext">
        @ChildContent
    </CascadingValue>
</div>