@using Annium.Blazor.Core.Tools
@namespace Annium.Blazor.Charts.Components

<div class="@Class">
    @foreach (var value in ChartContext.Resolutions)
    {
        var cls = value == ChartContext.Resolution
            ? ClassBuilder.With(Styles.Resolution).With(Styles.ActiveResolution).Build()
            : Styles.Resolution;
        <div onclick="@HandleResolutionSelect(value)" class="@cls">@Humanize(value)</div>
    }
</div>